---
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { actions } from "astro:actions";
import { Button } from "@/components/ui/button";
import { SignupForm } from "@/components/islands/client/SignupForm";

export const prerender = false;

// Check if the user is already signed in
if (Astro.locals.user) {
  return Astro.redirect("/secure");
}

const result = Astro.getActionResult(actions.auth.signup);
if (result && !result.error) {
  return Astro.redirect("/");
}
---
<BaseLayout>
  <Fragment slot="head">
    <title>สมัครสมาชิก</title>
    <meta name="description" content="สมัครสมาชิกเพื่อสร้างบัญชี" />
  </Fragment>
  <main slot="body" class="max-w-md mx-auto my-10 p-6 bg-white rounded-lg shadow-md">
  <SignupForm client:load />
  </main>
</BaseLayout>
