---
import Navbar from "./islands/client/Navbar";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header class="sticky top-0 z-50 w-full border-b bg-background">
  <div class="container mx-auto px-4 flex h-16 items-center">
    {/* Logo */}
    <div class="flex items-center shrink-0">
      <Image
        src={logo}
        alt="16th Military Circle Logo"
        className="h-10 w-auto mr-3"
        loading="eager"
      />
      <h1 class="text-sm font-bold flex flex-col">
        มณฑลทหารบกที่ 16
        <span class="text-xs text-muted-foreground">16th Military Circle</span>
      </h1>
    </div>
    <div class="ml-auto">
      <Navbar client:idle />
    </div>
  </div>
</header>

