---
import BaseLayout from "@/layouts/base-layout.astro";
import { AdminApp } from "./_index";
export const prerender = false;
if (!Astro.locals.session) {
  return Astro.redirect("/signin");
}
---

<BaseLayout>
  <slot name="head">
    <title>Admin - MTB16</title>
  </slot>
  <slot slot="body">
    <AdminApp client:load client:only />
  </slot>
</BaseLayout>
